*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E3F6DD;

}

.header {
    color: black;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 26pt;
    letter-spacing: 4px;
    font-family: 'Libre Baskerville', serif;
}

.header a {
    color: black;
}


.wrapper {
    margin: 0 10px;
}

.wrapper-inner{
    position: relative;
    max-width: 1250px;
    width: 100%;
    height: 700px;
    background: #fff;
    margin: 30px auto;
    border-radius: 25px;
    display: flex;
}

.vertical-wrap {
    position: relative;
    height: 100%;
    float: right;
}

.vertical-bar {
    width: 250px;
    background: #3D693E;
    height: 150.48px;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    border-radius: 25px;
    position: relative;
    margin: 0px 80px 0px 45px;
    grid-column-start: 4;
    grid-row-start: 2;
    
}

.vertical-bar .profile-info {
    text-align: center;
    padding: 50px 25px;

}

/* .vertical-bar .profile-info img {
    width: 75px;
    border-radius: 50%;
} */

.vertical-bar .profile-info .title {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;

}

.vertical-bar .profile-info .sub-title {
    font-size: 14px;
    color: #fff;

}

.vertical-bar .menu {
    /* padding-left: 25px; */
    padding: 25px;
    

}

h3 {
    margin-bottom: 30px;
}

.vertical-bar .menu li a {
    display: block;
    padding: 15px;
    color: #fff;
    letter-spacing: 2px;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 1px;
    text-align: center;
    border-radius: 25px;

}

.vertical-bar .menu li a:hover
{
    background: #E3F6DD;
    color: #3D693E;
}

.top-bar {
    display: none;
}

/* .top-bar .top-menu {
    padding: 25px;
} */
.top-bar .top-menu li a{
    margin: 10px;
    border-radius: 5px;
}

.top-menu li a:hover {
    background: #E3F6DD;
    color: #3D693E;
}

.main-container .hamburger {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left: 25px;
    display: none;
    margin-left: auto;
    margin-top: 5px;
}

.main-container .content {
    padding: 25px;
    height: calc(100% - 60px);
    /* overflow: auto; */

}

.content {
    /* background: #e3f2f1; */
    margin: 25px;
      display: grid;
    grid-template-columns: 1fr 450px 420px 1fr;
    grid-template-rows: auto;
    
    
}

.main-container .content .name {
    /* background: #e3f2f1; */
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    /* margin-bottom: 25px;  */
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.main-container .content .bio {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}




.profile-pic {
    grid-column-start: 3;
    grid-row-start: 2;
    background-image: url(../hamlintherapy/images/edited-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    background-position: center;
    margin-bottom: 20px;

}

.profile-pic img {
    height: 550px;
    max-height: 550px;
    width: auto;
    border-radius: 25px;
    margin-bottom: 45px;
    
}

.placeholder {
    margin: 0px 45px 45px 0px;
    grid-column-start: 2;
    
}

.placeholder img {
    height: auto;
    max-height: 550px;
    border-radius: 25px;
}

.name {
    grid-column-start: 2;
    grid-row-start: 1;
    
}

.bio {
    grid-column-start: 2;
    grid-row-start: 2;
}
.topics {
    grid-column-start: 3;
    
}

.footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(254, 253, 240);
    margin: 30px 0px 0px 0px;
    
    
}

.topics {
    list-style: none;
}

/* @media (max-width: 999px) {

    .main-container .top-bar {
    display: flex;
     padding: 15px 25px;
}
    .main-container .hamburger {
        display: inline-block;
        right: 0;
    }
    .vertical-wrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        visibility: hidden;
    }

    .vertical-bar {
        position: absolute;
        top: 0;
        right: -100%;
        transition: right 0.75s linear;
    }

    .vertical-wrap .backdrop {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .main-container  {
       width: 100%;
       margin-bottom: 35px;
    }

    .bio {
        padding-bottom: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
    }

    .main-container .top-bar {
        border-top-left-radius: 25px;

    }

    .wrapper.active .vertical-wrap {
        visibility: visible;

    }

    .wrapper.active .vertical-bar {
        right: 0;
        transition: right 0.2s linear;

      }

} */

@media (max-width: 1250px) {
    .vertical-bar {
        display: none;
        
    }

    .top-bar {
        display: flex; 
        background-color: #3D693E;
        padding: 20px;
        text-decoration: none;
    }

    .top-menu {
        display: flex;
    }

    .top-bar ul {
        list-style: none;
        
    }
    
    .top-bar li a {
        padding: 10px;
        color: white;
        
    };

    .top-menu a:hover {
         background: #E3F6DD;
    color: #3D693E;
    }
}

@media (max-width: 950px) {

    .content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .profile-pic {
        grid-column-start: 1;
        grid-row-start: 2;
        height: 700px;
        width: 500px;
        margin-left: 170px;
        
    }

    .bio {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .topics {
        grid-column-start: 1;
        grid-row-start: 4;
        padding: 0px 50px 50px;
    }

    .name {
        grid-column-start: 1;
        grid-row-start: 1;
    }


}

@media (max-width: 750px){
    .profile-pic {
        /* height: 400px; */
        width:450px;
        margin-left: 110px;
    }
}

@media (max-width: 650px){
    .profile-pic{
        margin-left: 40px;
    }

    .header h1 {
        font-size: 45pt;
    }
}

@media (max-width: 560px) {
    .profile-pic {
        height: 450px;
        width: 350px;
    }

    .header h1 {
        font-size: 35pt;
    }

    .main-container .content .bio {
        padding: 0px 50px 0px 50px;
    }
}

@media (max-width: 465px) {
    .header h1 {
        font-size: 30pt;
    }

      .profile-pic {
        height: 400px;
        width: 300px;
    }

    .main-container .content {
        padding: 0;
        margin: 0;
    }
}

@media (max-width:385px) {
    .header h1 {
        font-size: 25pt;
    }

    .content {
    /* background: #e3f2f1; */
      display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    
    
}
}

@media (max-width: 350px) {
    .header h1 {
        font-size: 24pt;
    }
}