h1, h2 {
    font-family: 'Libre Baskerville', serif;
}

body {
    display: grid;
    grid-template-areas: "nav nav" 
    "header header"
    "column1 column1"
    "footer footer";
    grid-template-rows: 60px 80px  1fr 60px;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    column-gap: 0;

}

.header {
    color: black;
    padding-top: 20px;
    padding-bottom: 40px;
    grid-area: header;
    text-align: center;
    background-color: #E3F6DD;
}

.column1 {
    background-color: #E3F6DD;
    grid-area: column1;
    height: 800px;
}

/* .nav {
    background-color: #B8CDB0;
    grid-area: nav;
    padding: 30px;
    border-radius: 10%;
    text-align: center;
}



nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #B8CDB0;
    align-content: center;
    display: grid;
    grid-template-rows: auto auto auto;
}

nav ul li {
    background-color: #B8CDB0;
    background-position: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

.nav a {
    color: white;
    text-decoration: none;
    background-color: #4F8850;
    width: 100%;
    padding: 10px 30px 10px 30px;
    border-radius: 20%;
    margin: 15px;
    text-align: center;
    height: 100%;
    

}

nav ul li a:hover {
    background-color: #406F41;
} */

.footer {
    background-color: #E3F6DD;
    grid-area: footer;
    text-align: center;
}

:root {
    --color-1: #4F8850;
    --text-color: white;
    --accent-color:#B8CDB0;
}

*{
    margin: 0;
    padding: 0;
    /* background-color: #E3F6DD; */
}

html {
    font-size: 12pt;
    font-family: 'Libre Baskerville', serif;
}

nav {
    grid-area: nav;
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    background-color: var(--accent-color);
}

nav .home-link {
    margin-right: auto;
}

nav svg {
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    
display: none;
}



@media (max-width: 471px) {
    .links-container {
        
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
}
#sidebar-active:checked ~ .links-container {
    right: 0;
}

#sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
}
