h1, h2 {
    font-family: 'Libre Baskerville', serif;
}

* {
    background-color: #E3F6DD;
}

body {
    display: grid;
    grid-template-areas: "header header header"
    "column1 column1 nav"
    "footer footer footer";
    grid-template-rows: 80px 1fr 60px;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
    margin: 20px;

}

.header {
    color: black;
    grid-area: header;
    text-align: center;

}

.column1 {
    background-color: red;
    grid-area: column1;
}

.nav {
    background-color: #B8CDB0;
    grid-area: nav;
    padding: 30px;
    border-radius: 10%;
    text-align: center;
}

.nav a {
    color: white;
    text-decoration: none;
    background-color: #4F8850;
    padding: 10px 30px 10px 30px;
    border-radius: 20%;
    /* margin: 15px; */
    text-align: center;
    

}

nav ul {
    list-style: none;
    background-color: #B8CDB0;
    align-content: center;
}

nav ul li {
    background-color: #B8CDB0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

nav ul li a :hover {
    background-color: #406F41;
}

.footer {
    background-color: yellow;
    grid-area: footer;
}